<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<a th:href="@{/}" class="btn btn-success btn-xs">Главный</a>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>cart index</title>-->
    <!--<link rel='stylesheet' href='/webjars/bootstrap/3.3.6/css/bootstrap.min.css'>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Список карты</h1>-->
<!--<p>-->
    <!--<a th:href="@{/}" class="btn btn-success btn-xs"><<<</a>-->
<!--</p>-->
<!--<div class="container">-->
    <!--<div class="rows">-->
        <!--<table class="table">-->
            <!--<tr>-->
                <!--<td>Name</td>-->
                <!--<td>Schet</td>-->
                <!--<td></td>-->
            <!--</tr>-->
            <!--<tr th:each="cart : ${cart}">-->
                <!--<td th:text="${cart.cart.name}">Onions</td>-->
                <!--<td th:text="${cart.schet}">2.41</td>-->
                <!--<td>-->

                    <!--<a th:href="@{/orders/delete/{id}(id=${order.id})}" class="btn btn-danger btn-xs">Удалить</a>-->
                <!--</td>-->

            <!--</tr>-->
        <!--</table>-->
    <!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<script src="webjars/jquery/1.9.1/jquery.min.js"></script>-->
<!--<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>-->
<!--</body>-->
<!--</html>-->