<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>order index</title>
    <link rel='stylesheet' href='/webjars/bootstrap/3.3.6/css/bootstrap.min.css'>
</head>
<a th:href="@{/}" class="btn btn-success btn-xs">Главный</a>
<body>
<h1>История заказов!!</h1>
<p>
</p>
<div class="container">
    <div class="rows">
             <table class="table">
                <tr>
                    <td>Name</td>
                    <td>Qty</td>
                    <td>Sum</td>
                    <td>Date</td>

                </tr>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.product.name}">Onions</td>
                    <td th:text="${order.Qty}">2.41</td>
                    <td th:text="${order.sum}"> </td>
                    <td th:text="${order.date}">2.41</td>
                    


                </tr>
            </table>
        </div>
    </div>
</div>

<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>